html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px; /* Margin bottom by footer height */
}

.sidebarContent{
	margin-top: 10px;
}

.mainContent{
	margin-top: 10px;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	padding: .75rem 1.25rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f8f9fa;
}